@{Html.BeginForm("Create", "Book", FormMethod.Post);}
@* HTML Helpers *@
    <div class="mt-2">
        <h3>
           @Html.Label("title", "Enter Book Title", new{@class = "col-form-label"})
        </h3>
        @Html.TextBox("title", "", htmlAttributes: new {@class="form-control"})
    </div>
    @* .net core - Tag helpers (we will use them to generate HTML) *@
    <div class="mt-2">
        <h3>
            <label class="col-form-label" for="price">Book Price</label>
        </h3>
        <input type="number" value="" class="form-control" name="price" />
    </div>
    <div class="mt-2">
        <h3>
            <label class="col-form-label" for="pdate">Publish Date</label>
        </h3>
        <input type="date" value="" class="form-control" name="pdate" />
    </div>
    <div class="mt-2">
        <h3>
            <label class="col-form-label" for="author">Author</label>
        </h3>
        <input type="text" value="" class="form-control" name="author" />
    </div>
    <div class="mt-2">
        <input type="submit" value="Add Book" class="btn btn-primary" />
    </div>


@{Html.EndForm();}
