<form method="post" action="/Book/Create">
    <div class="mt-2">
        <h3>
            <label class="col-form-label" for="title">Book Title</label>
        </h3>
        <input type="text" value="" class="form-control" name="title" />
    </div>
    <div class="mt-2">
        <h3>
            <label class="col-form-label" for="price">Book Price</label>
        </h3>
        <input type="number" value="" class="form-control" name="price" />
    </div>
    <div class="mt-2">
        <h3>
            <label class="col-form-label" for="pdate">Publish Date</label>
        </h3>
        <input type="date" value="" class="form-control" name="pdate" />
    </div>
    <div class="mt-2">
        <h3>
            <label class="col-form-label" for="author">Author</label>
        </h3>
        <input type="text" value="" class="form-control" name="author" />
    </div>
    <div class="mt-2">
        <input type="submit" value="Add Book" class="btn btn-primary" />
    </div>


</form>
