@model OnlineBookStore.Models.Book
@{
    ViewData["Title"] = "Create New Book";
    Layout = "~/Views/Shared/_OnlineBookStoreDefaultLayoutcshtml.cshtml";
}

<div asp-validation-summary="All"  ></div>
<h1>@ViewBag.Title</h1>
<div class="d-flex flex-column align-items-stretch">
    <form asp-action="Create" asp-controller="Book" method="post" class="obs-form" enctype="multipart/form-data">
        <div class="row">
            <label class="col-form-label col-12" asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="Title"></span>
        </div>
        <div class="row">
            <label class="col-form-label col-12" asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="Author"></span>
        </div>
        <div class="row">
            <label class="col-form-label col-12" asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="Price"></span>
        </div>
        <div class="row">
            <label class="col-form-label col-12" asp-for="PDate"></label>
            <input asp-for="PDate" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="PDate"></span>
        </div>
         <div class="row">
            <label class="col-form-label col-12" asp-for="ImagePath"></label>
            <input name="uploadedFile" type="file" class="form-input-file" />
        </div>
        <div class="row">
            <input type="submit" value="Create Book" class="btn btn-dark" />
        </div>
    </form>
</div>

