@model OnlineBookStore.Models.Book
@{
    ViewData["Title"] = "Edit - " + Model.Title;
    Layout = "~/Views/Shared/_OnlineBookStoreDefaultLayoutcshtml.cshtml";
}

@{
    Html.RenderPartial("DetailsPartial", Model);
}
<hr />
<div asp-validation-summary="All"></div>
<h1>@ViewBag.Title</h1>
<div class="d-flex flex-column align-items-stretch">
    <form asp-action="Edit" asp-controller="Book" method="post" class="obs-form">
        <input type="hidden" asp-for="BookId" />
        <div class="row">
            <label class="col-form-label col-12" asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="Title"></span>
        </div>
        <div class="row">
            <label class="col-form-label col-12" asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="Author"></span>
        </div>
        <div class="row">
            <label class="col-form-label col-12" asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="Price"></span>
        </div>
        <div class="row">
            <label class="col-form-label col-12" asp-for="PDate"></label>
            <input asp-for="PDate" class="form-control" />
            <span class="text-danger err-info" asp-validation-for="PDate"></span>
        </div>
        <div class="row">
            <input type="submit" value="Save Changes" class="btn btn-dark" />
        </div>
    </form>
</div>


