html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.cart-div {
    position: relative;
    display: flex;
    padding: 10px;
}

.cart-counter {
    position: absolute;
    display: flex;
    height: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(199, 199, 42);
    color: white;
    left: 25px;
    top: 0px;
}

.my-cart {
    font-size: 24px;
}
body {
  margin-bottom: 60px;
}
.row .err-info{
    font-size:12px;
    font-family:Consolas;
    font-weight:bold;
}

.obs-form{
    width:50%;
    max-width:600px;
    min-width:500px;
    padding:20px;
}